In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from pprint import pprint
pd.options.display.float_format = '{0:,.2f}'.format

In [4]:
# Read the processed DataFrame:

offense_and_water_access = pd.read_csv('../1_Input/Water_access_and_offense_count.csv', encoding='utf-8')
offense_and_water_access = offense_and_water_access.groupby(['State','Year']).sum()
offense_and_water_access.head()

            Water Access Per Capita  Offense Count
State Year
CO    1999                     1.48           6683
      2000                     1.39           7111
      2001                     1.36           7368
      2002                     1.34           8167
      2003                     1.33           8438