In [4]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# State Appreviations
states = []

# File to Load
EPA_water_data_to_load = "../1_Input/water_system_summary_AK.csv"

# Read the EPA Water Data into Data Frame
EPA_H2O_data = pd.read_csv(EPA_water_data_to_load, encoding='utf-8')

EPA_H2O_data.head()

,PWS ID,PWS Name,PWS Type,Primary Source,Counties Served,Cities Served,PopulationServed Count,Number of Facilities,Number of Violations,Number of Site Visits
0,AK2260595,ADAK UTILITIES,Community water system,Surface water,Aleutians West Census Area,ADAK,225,9,508,10
1,AK2250037,AKHIOK,Community water system,Surface water,Kodiak Island Borough,AKHIOK,90,6,1171,7
2,AK2272747,AKIACHAK WATER SYSTEM,Community water system,Ground water,Bethel Census Area,AKIACHAK,627,6,146,4
3,AK2272005,AKIAK COMMUNITY WATER SYSTEM,Community water system,Ground water,Bethel Census Area,AKIAK,346,6,489,4
4,AK2260252,AKUTAN,Community water system,Surface water,Aleutians East Borough,AKUTAN,95,6,544,7