In [7]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')


# File to Load
H2ODataFile = "../1_Input/number-with-without-access-to-improved-water.csv"

# Load to dataframe
H2O_World_Access_data = pd.read_csv(H2ODataFile)

# Simplify column headers
H2O_World_Access_data = H2O_World_Access_data.rename(columns = {"Population without access to improved water source (people)" : "Population without Access",
                                        "Population with access to improved water source (people)" : "Population with Access"
                                       })


H2O_World_Access_data.head()

        Entity Code  Year  Population without Access  Population with Access
0  Afghanistan  AFG  1991                   10239002                 2754655
1  Afghanistan  AFG  1992                   11003229                 2978002
2  Afghanistan  AFG  1993                   11864748                 3230351
3  Afghanistan  AFG  1994                   12711757                 3460962
4  Afghanistan  AFG  1995                   13423140                 3676401

In [ ]:
# Create % Improved Water Access
pctImprovedWaterAccess = 
H2O_World_Access_data["% Access to Improved Water"]=(H2O_World_Access_data["Population with access to improved water source (people)"]*100/(H2O_World_Access_data["Population with access to improved water source (people)"]+H2O_World_Access_data["Population without access to improved water source (people)"])

H2O_World_Access_data


# Drop columns to minimize resource usage
    EPA_State_data = EPA_State_data.drop(columns = ['PWS Name', 'PWS Type', 'Primary Source', 'Counties Served',
                                 'Cities Served', 'Number of Facilities', 'Number of Site Visits'])
    
    
    # Get specific variables
    totalWaterSystems = len(EPA_State_data)
    populationServed = EPA_State_data["PopulationServed Count"].sum()
    totalViolations = EPA_State_data["Number of Violations"].sum()
    
    EPA_state_summary.append([state, totalWaterSystems, populationServed, totalViolations])

# Create Summary Data Frame
EPA_Violations_df = pd.DataFrame(EPA_state_summary, columns=['State',
                                                    'Number of Water Systems',
                                                    'Population Served',
                                                    'Number of Violations'])

EPA_Violations_df.head()