In [10]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')


# File to Load
H2ODataFile = "../1_Input/water-withdrawals-per-capita.csv"

# Load to dataframe
H2O_World_Withdrawal_data = pd.read_csv(H2ODataFile)

# Simplify column headers
H2O_World_Withdrawal_data.head()

,Entity,Code,Year,Total water withdrawal per capita (m³ per person per year)
0,Afghanistan,AFG,1975,819.5
1,Afghanistan,AFG,1985,2303.0
2,Afghanistan,AFG,2000,943.8
3,Albania,ALB,1990,370.3
4,Albania,ALB,2000,588.5