In [56]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

EPA_state_summary = []


"""# All State Abbreviations :  Note, there is several states where the data file fails when loading... I will continue to look
states = ["AK", "AL", "AR", "AZ", "CA", "CO", "CT", "DC", "DE", "FL", "GA", "HI", "IA", "ID", "IL",
          "IN", "KS", "KY", "LA", "MA", "MD", "ME", "MI", "MN", "MO", "MS", "MT", "NC", "ND", "NE",
          "NH", "NJ", "NM", "NV", "NY", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT",
          "VA", "VT", "WA", "WI", "WV", "WY"]
"""

# State Abbreviations
states = ["AL", "AR", "CA", "CO", "DC", "DE", "FL", "HI", "ID",
          "IL", "IN", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MS", "MO",
          "MT", "NE", "NV", "NH", "NJ", "NM", "NC", "ND", "OH", "OK", "OR", "PA",
          "SC", "SD", "TN", "TX", "UT", "VT", "WA", "WV", "WI", "WY"]

for state in states:

    # File to Load
    EPADataFile = "../1_Input/EPA/water_system_summary_" + state + ".csv"
    
    # Load to dataframe
    EPA_State_data = pd.read_csv(EPADataFile)
    
    # Drop columns to minimize resource usage
    EPA_State_data = EPA_State_data.drop(columns = ['PWS Name', 'PWS Type', 'Primary Source', 'Counties Served',
                                 'Cities Served', 'Number of Facilities', 'Number of Site Visits'])
    
    
    # Get specific variables
    totalWaterSystems = len(EPA_State_data)
    populationServed = EPA_State_data["PopulationServed Count"].sum()
    totalViolations = EPA_State_data["Number of Violations"].sum()
    
    EPA_state_summary.append([state, totalWaterSystems, populationServed, totalViolations])

# Create Summary Data Frame
EPA_Violations_df = pd.DataFrame(EPA_state_summary, columns=['State',
                                                    'Number of Water Systems',
                                                    'Population Served',
                                                    'Number of Violations'])

EPA_Violations_df.head()

  State  Number of Water Systems  Population Served  Number of Violations
0    AL                      581            5683911                  8723
1    AR                     1054            2888839                 13990
2    CA                     7499           42679064                 70484
3    CO                     2013            6133087                 51549
4    DC                        6             665602                    78