In [1]:
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Official Dataset File to Load
H2ODataFile = "../1_Input/number-with-without-access-to-improved-water.csv"

# Load to dataframe
H2O_World_Access_data = pd.read_csv(H2ODataFile)

# Simplify column headers
H2O_World_Access_data = H2O_World_Access_data.rename(columns = {"Population without access to improved water source (people)" : "Population without Access",
                                        "Population with access to improved water source (people)" : "Population with Access"
                                       })


H2O_World_Access_data["% Access"] = H2O_World_Access_data["Population with Access"] * 100 / (H2O_World_Access_data["Population with Access"] + H2O_World_Access_data["Population without Access"])

H2O_World_Access_data = H2O_World_Access_data.rename(columns = {"Entity": "Country"})

# Remove rows not pointing to countries
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Arab World'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Caribbean small states'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Central Europe and the Baltics'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Early-demographic dividend'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='East Asia & Pacific'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='East Asia & Pacific (IDA & IBRD)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='East Asia & Pacific (excluding high income)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Euro area'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Europe & Central Asia'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Europe & Central Asia (IDA & IBRD)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Europe & Central Asia (excluding high income)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='European Union'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Fragile and conflict affected situations'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Heavily indebted poor countries (HIPC)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='High income'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='IBRD only'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='IDA & IBRD total'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='IDA blend'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='IDA only'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='IDA total'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Late-demographic dividend'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Latin America & Caribbean'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Latin America & Caribbean (IDA & IBRD)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Latin America & Caribbean (excluding high income)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Least developed countries: UN classification'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Low & middle income'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Low income'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Lower middle income'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Middle East & North Africa'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Middle East & North Africa (IDA & IBRD)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Middle East & North Africa (excluding high income)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Middle income'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='North America'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='OECD members'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Other small states'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Pacific island small states'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Post-demographic dividend'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Pre-demographic dividend'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Small states'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='South Asia'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='South Asia (IDA & IBRD)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Sub-Saharan Africa'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Sub-Saharan Africa (IDA & IBRD)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Sub-Saharan Africa (excluding high income)'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='Upper middle income'].index)
H2O_World_Access_data = H2O_World_Access_data.drop(H2O_World_Access_data[H2O_World_Access_data.Country =='World'].index)

# Clean up country names to match other dataframes
H2O_World_Access_data.loc[H2O_World_Access_data["Country"] == "Cote d'Ivoire", "Country"] = "Cote-d-Ivoire"
H2O_World_Access_data.loc[H2O_World_Access_data["Country"] == "Democratic Republic of Congo", "Country"] = "Congo"
H2O_World_Access_data.loc[H2O_World_Access_data["Country"] == "Saint Lucia", "Country"] = "St-Lucia"
H2O_World_Access_data.loc[H2O_World_Access_data["Country"] == "Saint Vincent and the Grenadines", "Country"] = "St-Vincent and the Grenadines"
H2O_World_Access_data.loc[H2O_World_Access_data["Country"] == "Micronesia (country)", "Country"] = "Micronesia"

H2O_World_Access_data.head()

,Country,Code,Year,Population without Access,Population with Access,% Access
0,Afghanistan,AFG,1991,10239002,2754655,21.199998
1,Afghanistan,AFG,1992,11003229,2978002,21.299999
2,Afghanistan,AFG,1993,11864748,3230351,21.399999
3,Afghanistan,AFG,1994,12711757,3460962,21.400001
4,Afghanistan,AFG,1995,13423140,3676401,21.499998

In [3]:
a1 = H2O_World_Access_data.groupby(["Country"])

waterAccess_mean = pd.DataFrame(a1["% Access"].mean())

waterAccess_mean = waterAccess_mean.reset_index()

waterAccess_mean.head()

          Country    % Access
0     Afghanistan   36.228000
1         Albania   95.750002
2         Algeria   88.376923
3  American Samoa   97.984726
4         Andorra  100.000000

In [4]:
# Save the data:
waterAccess_mean.to_csv('../1_Input/DF_Interim/WorldWaterAccessMean_data.csv', index=False, encoding='utf-8')