In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from pprint import pprint
pd.options.display.float_format = '{0:,.2f}'.format

# The path to our CSV file
water_file = "../1_Input/Resources/Water_data.csv"
pop_file = "../1_Input/Resources/Population.csv"

# Read water data into pandas
water_df = pd.read_csv(water_file)
water_df.head()

,State_code,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,CA,"34,938,616.00","34,982,115.00","35,989,579.00","36,427,824.00","42,109,090.00","42,183,613.00","42,277,601.00","39,678,342.00","39,957,597.00","40,192,641.00","41,009,912.00","41,032,941.00","41,029,373.00",41012626,41174594,41174437,"41,173,094.00","40,448,289.00"
1,CO,"6,009,119.00","6,009,119.00","6,009,037.00","6,009,119.00","6,009,119.00","6,009,119.00","6,009,074.00","6,009,037.00","6,009,074.00","6,009,074.00","6,009,074.00","6,009,118.00","6,009,118.00",5220316,5261460,5263167,"5,263,167.00","5,662,264.00"
2,CT,nan,"2,664,364.00","2,664,364.00","2,664,364.00","2,664,364.00","2,664,364.00","2,664,364.00","2,664,364.00","2,664,364.00","2,664,364.00","2,664,364.00","2,664,364.00","2,664,364.00",2673185,2685610,2754692,"2,751,816.00","2,762,104.00"
3,FL,"19,228,025.00","19,228,025.00","19,228,025.00","19,228,025.00","19,228,025.00","19,227,975.00","19,228,025.00","19,228,025.00","19,227,961.00","19,227,891.00","19,227,961.00","19,227,911.00","19,238,280.00",19231059,19231189,19353826,"19,353,871.00","19,895,595.00"
4,IA,"2,370,181.00","2,352,599.00","2,349,976.00","2,458,129.00","2,494,821.00","2,733,140.00","2,744,749.00","2,751,614.00","2,729,866.00","2,680,509.00","2,745,961.00","2,698,490.00","2,679,229.00",2721205,2751937,2753592,"2,761,831.00","2,804,827.00"

In [52]:
# Read population data into pandas
population_df = pd.read_csv(pop_file)
population_df.head()

,State_code,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,AL,4369862,4452173,4467634,4480089,4503491,4530729,4569805,4628981,4672840,4718206,4757938,4785579,4798649,4813946,4827660,4840037,4850858,4860545
1,AK,619500,627963,633714,642337,648414,659286,666946,675302,680300,687455,698895,714015,722259,730825,736760,736759,737979,741522
2,AZ,4778332,5160586,5273477,5396255,5510364,5652404,5839077,6029141,6167681,6280362,6343154,6407002,6465488,6544211,6616124,6706435,6802262,6908642
3,AR,2551373,2678588,2691571,2705927,2724816,2749686,2781097,2821761,2848650,2874554,2896843,2921737,2938640,2949208,2956780,2964800,2975626,2988231
4,CA,33145121,33987977,34479458,34871843,35253159,35574576,35827943,36021202,36250311,36604337,36961229,37327690,37672654,38019006,38347383,38701278,39032444,39296476

In [53]:
#Merge water and population data
merge_df = pd.merge(water_df,population_df , on="State_code",suffixes=("_water","_population"), copy=True)
merge_df.head()

,State_code,1999_water,2000_water,2001_water,2002_water,2003_water,2004_water,2005_water,2006_water,2007_water,...,2007_population,2008_population,2009_population,2010_population,2011_population,2012_population,2013_population,2014_population,2015_population,2016_population
0,CA,"34,938,616.00","34,982,115.00","35,989,579.00","36,427,824.00","42,109,090.00","42,183,613.00","42,277,601.00","39,678,342.00","39,957,597.00",...,36250311,36604337,36961229,37327690,37672654,38019006,38347383,38701278,39032444,39296476
1,CO,"6,009,119.00","6,009,119.00","6,009,037.00","6,009,119.00","6,009,119.00","6,009,119.00","6,009,074.00","6,009,037.00","6,009,074.00",...,4803868,4889730,4972195,5048029,5116411,5186330,5262556,5342311,5440445,5530105
2,CT,nan,"2,664,364.00","2,664,364.00","2,664,364.00","2,664,364.00","2,664,364.00","2,664,364.00","2,664,364.00","2,664,364.00",...,3527270,3545579,3561807,3580171,3591927,3597705,3602470,3600188,3593862,3587685
3,FL,"19,228,025.00","19,228,025.00","19,228,025.00","19,228,025.00","19,228,025.00","19,227,975.00","19,228,025.00","19,228,025.00","19,227,961.00",...,18367842,18527305,18652644,18846461,19097369,19341327,19584927,19897747,20268567,20656589
4,IA,"2,370,181.00","2,352,599.00","2,349,976.00","2,458,129.00","2,494,821.00","2,733,140.00","2,744,749.00","2,751,614.00","2,729,866.00",...,2999212,3016734,3032870,3050223,3063690,3074386,3089876,3105563,3118473,3130869

In [54]:
# drop null rows
no_null_water_df = merge_df.dropna(how='any')
no_null_water_df.set_index("State_code")
no_null_water_states = list(no_null_water_df['State_code'])

In [55]:
years = range(1999,2017)
water_norm = pd.DataFrame()
#water_norm = no_null_water_df['State_code'].copy()
for i in range(len(years)):
    water_norm_i = no_null_water_df[str(years[i]) + "_water"] / no_null_water_df[str(years[i]) + "_population"].replace(',','')
    water_norm[str(years[i])] = water_norm_i.values
water_norm['State_code']= no_null_water_states
water_norm = water_norm.set_index('State_code')
water_norm

,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
State_code,,,,,,,,,,,,,,,,,,
CA,1.05,1.03,1.04,1.04,1.19,1.19,1.18,1.10,1.10,1.10,1.11,1.10,1.09,1.08,1.07,1.06,1.05,1.03
CO,1.48,1.39,1.36,1.34,1.33,1.31,1.30,1.27,1.25,1.23,1.21,1.19,1.17,1.01,1.00,0.99,0.97,1.02
FL,1.27,1.20,1.18,1.15,1.13,1.10,1.08,1.06,1.05,1.04,1.03,1.02,1.01,0.99,0.98,0.97,0.95,0.96
IA,0.83,0.80,0.80,0.84,0.85,0.93,0.93,0.92,0.91,0.89,0.91,0.88,0.87,0.89,0.89,0.89,0.89,0.90
KS,1.01,1.00,1.00,0.99,1.00,0.99,0.99,0.98,0.97,0.96,0.95,0.95,0.94,0.94,0.93,0.93,0.93,0.93
KY,1.14,1.12,1.11,1.11,1.10,1.09,1.08,1.07,1.06,1.06,1.05,1.04,1.04,1.04,1.04,1.05,1.05,1.04
ME,0.53,0.52,0.51,0.51,0.51,0.50,0.50,0.50,0.50,0.50,0.50,0.50,0.52,0.50,0.50,0.50,0.50,0.50
MN,0.89,0.86,0.85,0.84,0.84,0.83,0.83,0.82,0.81,0.81,0.80,0.80,0.80,0.79,0.80,0.79,0.79,0.78
MO,0.56,0.57,0.51,0.48,0.54,0.70,0.44,0.78,0.85,0.70,0.78,0.78,0.75,0.84,0.87,0.88,0.88,0.84
NH,0.71,0.69,0.68,0.67,0.67,0.66,0.66,0.65,0.65,0.65,0.65,0.65,0.65,0.65,0.65,0.65,0.65,0.65
NJ,1.11,1.07,1.06,1.05,1.05,1.04,1.04,1.04,1.04,1.04,1.03,1.02,1.02,1.01,1.02,1.01,0.98,0.99
NM,1.03,0.99,0.98,0.97,0.96,0.95,0.93,0.92,0.90,0.90,0.88,0.89,0.89,0.88,0.88,0.90,0.91,0.91
NY,0.90,0.87,0.86,0.86,0.86,0.86,0.86,0.86,0.86,0.86,0.85,0.94,0.93,0.93,0.87,0.90,0.82,0.82
PA,0.90,0.88,0.88,0.87,0.87,0.87,0.87,0.86,0.86,0.85,0.85,0.85,0.85,0.83,0.83,0.83,0.83,0.89
SC,0.85,0.82,0.81,0.81,0.80,0.80,0.81,0.80,0.81,0.81,0.83,0.83,0.81,0.79,0.76,0.76,0.75,0.76
UT,1.26,1.20,1.18,1.16,1.14,1.12,1.10,1.07,1.04,1.01,0.99,0.97,0.96,0.96,0.96,1.52,1.45,0.99
VT,0.75,0.73,0.72,0.72,0.72,0.72,0.71,0.71,0.71,0.71,0.71,0.71,0.71,0.71,0.71,0.72,0.72,0.72
WA,0.97,0.94,0.93,0.92,0.91,0.90,0.89,0.88,0.86,0.85,0.84,0.83,0.82,0.86,0.86,0.85,0.84,0.84
WI,0.76,0.74,0.74,0.73,0.73,0.72,0.72,0.72,0.71,0.71,0.70,0.70,0.71,0.71,0.71,0.71,0.71,0.71
WV,0.40,0.51,0.40,0.67,0.70,0.73,0.74,0.73,0.73,0.73,0.72,0.72,0.71,0.73,0.76,0.80,0.81,0.82

In [65]:
national_agency_base = "https://api.usa.gov/crime/fbi/sapi/api/participation/national?api_key={myapi_key}"
violent_state_base = "https://api.usa.gov/crime/fbi/sapi/api/data/nibrs/violent-crime/offense/states/"
api_key_url = "/count?api_key="
myapi_key = "FaiahkB1PpyTF7e8qEp6JZ3TnOmokQ2sW2OTU099"
some_states = ['AL', 'AZ', 'AR', 'CO', 'CT', 'DE', 'DC', 'GA', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NH', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI']
state_list_some = []
year_list_2 = []
offense_name_list_2 = []
offense_count_list_2 = []

for state in some_states:
    violent_state_url = violent_state_base + state + api_key_url + myapi_key 
    response_2 = requests.get(violent_state_url).json()

    if int(response_2['pagination']['count'])!=0:
        for i in range(len(response_2['results'])):
            #print()
            if response_2['results'][i]['data_year'] in range(1999,2017): 
                state_list_some.append(state)
                year_list_2.append(response_2['results'][i]['data_year'])
                offense_name_list_2.append(response_2['results'][i]['offense_name'])
                offense_count_list_2.append(response_2['results'][i]['offense_count'])
        #print(state_list_some)
        #pprint(response_2)

In [66]:
FBI_data_some = pd.DataFrame({'State': state_list_some,
                         'Year': year_list_2,
                         'Offense': offense_name_list_2,
                         'Offense Count': offense_count_list_2
                        })
FBI_data_some.head()

  State  Year             Offense  Offense Count
0    AL  2006  aggravated-assault             31
1    AL  2007  aggravated-assault             33
2    AL  2008  aggravated-assault             34
3    AL  2009  aggravated-assault             33
4    AL  2010  aggravated-assault             24

In [67]:
index = FBI_data_some.groupby(["State", "Year"])
offcount = FBI_data_some.groupby("Year")["Offense Count"].sum()
FBI_data_some = pd.DataFrame(index["Offense Count"].sum())
FBI_data_some.head()

            Offense Count
State Year
AL    2006            170
      2007            187
      2008            145
      2009            121
      2010            105

In [70]:
scatter_plot_fbi_wateraccess = FBI_data_some.reset_index().plot(kind='scatter', x='Year', y='Offense Count',
                                           color='Red', label='State')

water_norm.reset_index().plot(kind='scatter', x='Year', y='obj',
                                          color='Blue', label='State', ax=ax)

C:\Users\Mariaveronica\Anaconda3_\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,Offense Count
CA,1.05,1.03,1.04,1.04,1.19,1.19,1.18,1.10,1.10,1.10,1.11,1.10,1.09,1.08,1.07,1.06,1.05,1.03,nan
CO,1.48,1.39,1.36,1.34,1.33,1.31,1.30,1.27,1.25,1.23,1.21,1.19,1.17,1.01,1.00,0.99,0.97,1.02,nan
FL,1.27,1.20,1.18,1.15,1.13,1.10,1.08,1.06,1.05,1.04,1.03,1.02,1.01,0.99,0.98,0.97,0.95,0.96,nan
IA,0.83,0.80,0.80,0.84,0.85,0.93,0.93,0.92,0.91,0.89,0.91,0.88,0.87,0.89,0.89,0.89,0.89,0.90,nan
KS,1.01,1.00,1.00,0.99,1.00,0.99,0.99,0.98,0.97,0.96,0.95,0.95,0.94,0.94,0.93,0.93,0.93,0.93,nan
KY,1.14,1.12,1.11,1.11,1.10,1.09,1.08,1.07,1.06,1.06,1.05,1.04,1.04,1.04,1.04,1.05,1.05,1.04,nan
ME,0.53,0.52,0.51,0.51,0.51,0.50,0.50,0.50,0.50,0.50,0.50,0.50,0.52,0.50,0.50,0.50,0.50,0.50,nan
MN,0.89,0.86,0.85,0.84,0.84,0.83,0.83,0.82,0.81,0.81,0.80,0.80,0.80,0.79,0.80,0.79,0.79,0.78,nan
MO,0.56,0.57,0.51,0.48,0.54,0.70,0.44,0.78,0.85,0.70,0.78,0.78,0.75,0.84,0.87,0.88,0.88,0.84,nan
NH,0.71,0.69,0.68,0.67,0.67,0.66,0.66,0.65,0.65,0.65,0.65,0.65,0.65,0.65,0.65,0.65,0.65,0.65,nan
NJ,1.11,1.07,1.06,1.05,1.05,1.04,1.04,1.04,1.04,1.04,1.03,1.02,1.02,1.01,1.02,1.01,0.98,0.99,nan
NM,1.03,0.99,0.98,0.97,0.96,0.95,0.93,0.92,0.90,0.90,0.88,0.89,0.89,0.88,0.88,0.90,0.91,0.91,nan
NY,0.90,0.87,0.86,0.86,0.86,0.86,0.86,0.86,0.86,0.86,0.85,0.94,0.93,0.93,0.87,0.90,0.82,0.82,nan
PA,0.90,0.88,0.88,0.87,0.87,0.87,0.87,0.86,0.86,0.85,0.85,0.85,0.85,0.83,0.83,0.83,0.83,0.89,nan
SC,0.85,0.82,0.81,0.81,0.80,0.80,0.81,0.80,0.81,0.81,0.83,0.83,0.81,0.79,0.76,0.76,0.75,0.76,nan
UT,1.26,1.20,1.18,1.16,1.14,1.12,1.10,1.07,1.04,1.01,0.99,0.97,0.96,0.96,0.96,1.52,1.45,0.99,nan
VT,0.75,0.73,0.72,0.72,0.72,0.72,0.71,0.71,0.71,0.71,0.71,0.71,0.71,0.71,0.71,0.72,0.72,0.72,nan
WA,0.97,0.94,0.93,0.92,0.91,0.90,0.89,0.88,0.86,0.85,0.84,0.83,0.82,0.86,0.86,0.85,0.84,0.84,nan
WI,0.76,0.74,0.74,0.73,0.73,0.72,0.72,0.72,0.71,0.71,0.70,0.70,0.71,0.71,0.71,0.71,0.71,0.71,nan
WV,0.40,0.51,0.40,0.67,0.70,0.73,0.74,0.73,0.73,0.73,0.72,0.72,0.71,0.73,0.76,0.80,0.81,0.82,nan
"(AL, 2006)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,170.00
"(AL, 2007)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,187.00
"(AL, 2008)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,145.00
"(AL, 2009)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,121.00
"(AL, 2010)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,105.00
"(AL, 2011)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,81.00
"(AL, 2012)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,113.00
"(AL, 2013)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,99.00
"(AL, 2014)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,115.00
"(AL, 2015)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,152.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(WI, 2005)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"6,726.00"
"(WI, 2006)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"9,167.00"
"(WI, 2007)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"9,570.00"
"(WI, 2008)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"9,337.00"
"(WI, 2009)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"8,887.00"
"(WI, 2010)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"10,365.00"
"(WI, 2011)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"10,565.00"
"(WI, 2012)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"12,261.00"
"(WI, 2013)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"12,399.00"
"(WI, 2014)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"13,433.00"
"(WI, 2015)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"14,499.00"
"(WI, 2016)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"14,622.00"
"(WV, 1999)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"5,114.00"
"(WV, 2000)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"5,805.00"
"(WV, 2001)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"4,949.00"
"(WV, 2002)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"4,280.00"
"(WV, 2003)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"4,363.00"
"(WV, 2004)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"5,079.00"
"(WV, 2005)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"5,023.00"
"(WV, 2006)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"5,221.00"
"(WV, 2007)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"5,118.00"
"(WV, 2008)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"5,188.00"
"(WV, 2009)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"5,540.00"
"(WV, 2010)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"5,174.00"
"(WV, 2011)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"5,331.00"
"(WV, 2012)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"5,955.00"
"(WV, 2013)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"4,893.00"
"(WV, 2014)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"4,924.00"
"(WV, 2015)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"5,489.00"
"(WV, 2016)",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,"6,123.00"