In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from pprint import pprint

national_agency_base = "https://api.usa.gov/crime/fbi/sapi/api/participation/national?api_key={myapi_key}"
violent_state_base = "https://api.usa.gov/crime/fbi/sapi/api/data/nibrs/violent-crime/offense/states/"
api_key_url = "/count?api_key="
myapi_key = "FaiahkB1PpyTF7e8qEp6JZ3TnOmokQ2sW2OTU099"
states = ["AL","AK","AZ","AR","CA","CO","CT","DE", "DC","FL","GA","HI","ID","IL","IN","IA","KS","KY","LA","ME","MD","MA","MI","MN","MS","MO","MT","NE","NV","NH","NJ","NM","NY","NC","ND","OH","OK","OR","PA","PR","RI","SC","SD","TN","TX","UT","VT","VA","VI","WA","WV","WI","WY"]

state_list = []
year_list = []
offense_name_list = []
offense_count_list = []

for state in states:
    violent_state_url = violent_state_base + state + api_key_url + myapi_key 
    response = requests.get(violent_state_url).json()

    if int(response['pagination']['count'])!=0:
        for i in range(len(response['results'])):
            #print()
            if response['results'][i]['data_year'] in range(1999,2017): 
                state_list.append(state)
                year_list.append(response['results'][i]['data_year'])
                offense_name_list.append(response['results'][i]['offense_name'])
                offense_count_list.append(response['results'][i]['offense_count'])
        #print(state)
        #pprint(response)

In [2]:
FBI_data = pd.DataFrame({'State': state_list,
                         'Year': year_list,
                         'Offense': offense_name_list,
                         'Offense Count': offense_count_list
                        })

In [21]:
index = FBI_data.groupby(["State", "Year"])
offcount = FBI_data.groupby("Year")["Offense Count"].sum()
FBI_df = pd.DataFrame(index["Offense Count"].sum())
FBI_df

            Offense Count
State Year
AL    2006            170
      2007            187
      2008            145
      2009            121
      2010            105
      2011             81
      2012            113
      2013             99
      2014            115
      2015            152
      2016            122
AR    1999              1
      2000             53
      2001            446
      2002            505
      2003           3193
      2004           6806
      2005           8122
      2006           8911
      2007           9422
      2008          10909
      2009          15560
      2010          15271
      2011          15135
      2012          14940
      2013          13903
      2014          14059
      2015          15768
      2016          16953
AZ    2004            169
...                   ...
WI    2005           6726
      2006           9167
      2007           9570
      2008           9337
      2009           8887
      2010          10365
      2011          10565
      2012          12261
      2013          12399
      2014          13433
      2015          14499
      2016          14622
WV    1999           5114
      2000           5805
      2001           4949
      2002           4280
      2003           4363
      2004           5079
      2005           5023
      2006           5221
      2007           5118
      2008           5188
      2009           5540
      2010           5174
      2011           5331
      2012           5955
      2013           4893
      2014           4924
      2015           5489
      2016           6123

[581 rows x 1 columns]

In [27]:
'''
state_group = FBI_data.groupby("State")["State"].head()
year_group = FBI_data.groupby("State")["Year"].head()
offcount = FBI_data.groupby("Year")["Offense Count"].sum()
print(state_group)
#print(year)
#print(offcount)
'''


'''
FBI_data_summary = pd.DataFrame({"State": state_group,
                                 "Year": year_group, 
                                 "Voilent Crime Offense Count": offcount, 
                                 })

FBI_data_summary.set_index(['State', 'Year'])
FBI_data_summary.head()
'''

'\nFBI_data_summary = pd.DataFrame({"State": state_group,\n                                 "Year": year_group, \n                                 "Voilent Crime Offense Count": offcount, \n                                 })\n\nFBI_data_summary.set_index([\'State\', \'Year\'])\nFBI_data_summary.head()\n'

In [ ]:

'''

#for state in states:
#    violent_state_url = violent_state_base + state + api_key_url + myapi_key 
#    print(violent_state_url)
#    response = requests.get(violent_state_url).json()
#    pprint(response)

#print()

#+ "&format=json"
#NATIONAL CRIME DATA AGENCY API LINK: https://api.usa.gov/crime/fbi/sapi/api/participation/national?api_key=FaiahkB1PpyTF7e8qEp6JZ3TnOmokQ2sW2OTU099
#TEXAS CRIME DATA AGENCY LINK: https://api.usa.gov/crime/fbi/sapi/api/participation/states/tx/?api_key=FaiahkB1PpyTF7e8qEp6JZ3TnOmokQ2sW2OTU099
#TEXAS CRIME FBI DATA LINK: https://api.usa.gov/crime/fbi/sapi/api/data/nibrs/violent-crime/offense/states/tx/count?api_key=FaiahkB1PpyTF7e8qEp6JZ3TnOmokQ2sW2OTU099
#agency_state_base = "https://api.usa.gov/crime/fbi/sapi/api/participation/states/"